.buyBox{
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 1000px;
    padding: 20px;
    box-sizing: content-box;
    background-color: white;
}

.addressBox{
    
}

.title{
    font-size: 20px;
    font-weight: 600;
}

.infoBox{
    display: flex;
    flex-direction: column;
}

.choiceBox{
    display: flex;
}

.addressInput{
    display: none;
}

.addressChoice{
    cursor: pointer;
    border: 1px solid #e5e5e5;
    padding: 10px 25px;
}

.newAddress{
    cursor: pointer;
    border: 1px solid #e5e5e5;
    padding: 10px 25px;
}

.addressInput:checked + .addressChoice, .addressInput:checked + .newAddress{
    border-bottom: none;
}

.addressItemBox{

}

.addressItem{
    display: flex;
}

.infor{

}

.nameBox{
    display: flex;
}

.name{

}

.defaultBox{

}

.default{

}

.addressInforBox{

}

.address{

}

.addressDetail{

}

.addressZipCode{

}

.mdBox{
    display: flex;
}

.modify{

}

.delete{

}

.addressMemoBox{
    margin-top: 20px;
}

.memoTitle{
    font-size: 20px;
    font-weight: 600;
}

.memoSelect{

}

.cartItemBox{
    margin-top: 20px;
}

.cartTitle{
    font-size: 20px;
    font-weight: 600;
}

.cartListBox{

}

.listHead{
    display: flex;
}

.listInforHead{

}

.listCountHead{

}

.listPriceHead{

}

.listBody{
    display: flex;
}

.listInfor{
    display: flex;
}

.listImgBox{
    width: 150px;
}

.listImgBox img{
    width: 100%;
}

.listData{

}

.listCount{

}

.listPrice{

}

.listCouponBox{

}

.couponName{

}

.couponDelete{

}

.couponUse{

}

.couponName{

}

.couponDelete{

}

.couponUse{

}

.deliveryDateBox{
    margin-top: 20px;
}  

.devliveryDateTitle{
    font-size: 20px;
    font-weight: 600;
}

.deliveryDateChoice{
    display: flex;
}

.deliveryDateChoice label{
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    user-select:none;
}

.cashBox{

}

.dpayBox{

}

.dpayTitle{

}

.dpayListBox{
    display: flex;
    gap: 20px;
    user-select: none;
    overflow: hidden;
}

.dpayItem{
    width: 320px;
    height: 200px;
    background-color: #253f39;
    border-radius: 15px;
    border: 1px solid black;
    color: white;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.bankName{
    font-size: 20px;
}

.icChip{
    width: 45px;
    height: 35px;
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
}

.icLineOne, .icLineTwo{
    width: 110%;
    height: 1px;
    background-color: white;
    position: absolute;
}

.icLineOne{
    top: 10px;
}

.icLineTwo{
    top: 25px;
}

.icLineThree{
    width: 1px;
    height: 110%;
    background-color: white;
    position: absolute;
    left: 10px;
}

.demureLogo{
    font-family: 'Monsieur La Doulaise';
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
}

.cardNumber{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.cardNumberSplit{
    font-size: 22px;
}

.dpayAddBox{
    border-left: 1px solid #e5e5e5;
}

.dpayAddItem{
    width: 260px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid #e5e5e5;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dpayAddIcon{
    color: #e5e5e5;
    font-size: 20px;
    margin-bottom: 10px;
}

.dpayAddTitle{
    color: #e5e5e5;
}

.cashResultBox{

}

.cashResult{

}

.cashResultTitle{

}

.cashResultContent{

}

.cashDiscountResult{

}

.cashDiscountResultTitle{

}

.cashDiscountResultContent{

}

.goBox{

}

.go{
    
}