*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: #253f39;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 30px;
    position: absolute;
    top: 240px;
    left: 220px;
    z-index: 1;
}

.cartWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    width: 800px;
    height: auto;
    background-color: white;
    margin-top:100px;
    margin-bottom: 20px;
    padding: 16px;
}

.cartMain {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-top: 1px solid #253f39;
    border-bottom: 1px solid #253f39;
    width: 100%;
    padding: 16px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #253f39;
    width: 100%;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px;
}

.cartImg {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 7px;
}

.cartInfoWrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width:500px;
}

.cartTitle {
    color: white;
    font-size: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    padding-bottom: 7px
}

.cartInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.cartDeleteBtn {
    border: none;
    color: white;
    background-color: #253f39;
    border-radius: 7px;
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.cartDeleteBtn:hover {
    scale:1.02;
}

.priceWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    height: 60px;
}

.cartAllCheck {
    display: flex;
    gap: 20px;
}

.cartAllCheckBtn {
    display: none;
}

.cartAllCheckLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    background-color: #253f39;
    border-radius: 7px;
    margin-top: 15px;
    cursor: pointer;
}

.cartAllCheckLabel:hover {
    scale:1.02;
}

.orderBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    background-color: #253f39;
    border-radius: 7px;
    margin-top: 10px;
    width: 150px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    height: 40px;
}

.orderBtn:hover {
    scale:1.05;
}

.amountWrapper {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: auto;
    gap: 10px;
}

.amountTitle {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.amountPrice {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10px;
}

.amountBtn {
    background-color: #253f39;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 15px;
}

.amountIcon {
    color: white;
}

.amountIcon:active {
    scale: 1.4;
}