*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main icon */
.chatbotIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 90px;
    height: 90px;
    cursor: pointer;
    bottom: 50px;
    right: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.2);
}

.chatbotIconContainer svg {
    width: 40px;
    height: 40px;
    transition: all 0.7s;
    color:black
}

.chatbotIcon:hover {
    transform: scale(1.1);
    color: #85caba;
}

/* main icon 눌렀을 때 */
.chatbotSection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 16px;
    width: 400px;
    height: 550px;
    background-color: #85caba;
    border-radius: 6px;
    box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.2);
}

.chatbotContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 550px;
}

.chatbotHeader {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 50px;
    background-color: rgb(159, 159, 234);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.chatbotTitleBox {
    display: flex;
    gap: 15px;
    padding-left: 20px;
}

.chatbotHeaderBtnBox {
    display: flex;
    gap: 15px;
    padding-right: 20px;
}

.chatbotDownBtn, .chatbotCloseBtn {
    cursor: pointer;
    border-radius: 30px;
    width:20px;
    text-align: center;
}

.chatbotDownBtn:hover, .chatbotCloseBtn:hover{
    background-color: white;
}

.chatbotBody {
    width: 400px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chatbotChattingBox {
    display: flex;
    width: 400px;
    border-top: 1px solid black;
}

.chatbotChatting {
    width: 90%;
    height: 50px;
    resize: none;
    border-bottom-left-radius: 6px;
    outline: none;
    border:none;
    background-color: aliceblue;
}

.chatbotChattingBtn {
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: aliceblue;
    border-bottom-right-radius: 6px;
}

.chatbotChattingBtn svg:hover {
    scale: 1.1;
} 

/* 처음 인사 talk */

.firstTalkContainer {
    display: flex;
    flex-direction: column;
}

.firstTalkHead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-top: 10px;
}

.firstTalkWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.talkFirst, .talkSecond, .talkThird {
    background-color: white;
    border-radius: 6px;
    margin: 10px;
    width: fit-content;
    padding: 5px;
    position: relative;
    left:10px;
}

.talkFirst {
    animation: move 0.6s linear;
}

.talkSecond {
    animation: move 0.8s linear;
}

.talkThird {
    animation: move 1s linear;
}

@keyframes move{
    from {
        left: -10px;
        opacity: 0;
    }
    to {
        left:10px;
        opacity: 1;
    }
}

/* 질문 및 응답 */
.questionBox {
    display: flex;
    justify-content: flex-end;
}

.question{
    background-color: rgb(237, 237, 178);
    border-radius: 6px;
    width: fit-content;
    padding: 5px;
    position: relative;
    margin: 10px;
    right: 10px;
}

.answerBox {
    display: flex;
    justify-content: flex-start;
}

.answer {
    background-color: white;
    border-radius: 6px;
    width: fit-content;
    padding: 5px;
    position: relative;
    margin: 10px;
    left: 10px;
}