*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main icon */
.chatbotIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.025);
    z-index: 101;
    cursor: pointer;
}

.chatbotIconContainer svg {
    width: 35px;
    height: 35px;
    transition: all 0.3s;
    color: #253f39;
}

.chatbotIcon:hover {
    transform: scale(1.1);
    /* color: rgb(98 17 17 / 80%); */
}

/* main icon 눌렀을 때 */
.chatbotSection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 16px;
    width: 400px;
    height: 550px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.02);
    z-index: 101;
}

.chatbotContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 550px;
}

.chatbotHeader {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 50px;
    background-color: rgb(98 17 17 / 80%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.chatbotTitleBox {
    display: flex;
    gap: 15px;
    padding-left: 20px;
    color: white;
}

.chatbotHeaderBtnBox {
    display: flex;
    padding-right: 20px;
    color: white;
}

.chatbotDownBtn, .chatbotCloseBtn {
    cursor: pointer;
    border-radius: 30px;
    width:20px;
    text-align: center;
    transition: all 0.3s;
}

.chatbotCloseBtn:hover{
    background-color: black;
}

.chatbotBody {
    width: 400px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chatbotBody::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

.chatbotBody::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #e5e5e5; /* 스크롤바의 색상 */
    border-radius: 5px;
}

.chatbotChattingBox {
    display: flex;
    width: 400px;
}

.chatbotChatting {
    width: 90%;
    height: 50px;
    resize: none;
    border-bottom-left-radius: 6px;
    outline: none;
    border: none;
    background-color: rgb(235 219 219);
    font-size: 16px;
    padding: 0px 15px;
}

.chatbotChattingBtn {
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(235 219 219);
    border-bottom-right-radius: 6px;
}

.chatbotChattingBtn svg{
    transition: all 0.3s;
}

.chatbotChattingBtn svg:hover {
    scale: 1.1;
} 

/* 처음 인사 talk */

.firstTalkContainer {
    display: flex;
    flex-direction: column;
}

.firstTalkHead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.firstTalkWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.talkFirst, .talkSecond, .talkThird {
    background-color: #e5e5e5;
    border-radius: 6px;
    margin-bottom: 7px;
    width: fit-content;
    padding: 5px;
    position: relative;
    left:10px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.02);
}

.talkFirst {
    animation: move 0.6s linear;
}

.talkSecond {
    animation: move 0.8s linear;
}

.talkThird {
    animation: move 1s linear;
}

@keyframes move{
    from {
        left: -10px;
        opacity: 0;
    }
    to {
        left:10px;
        opacity: 1;
    }
}

/* 질문 및 응답 */
.questionBox {
    display: flex;
    justify-content: flex-end;
}

.question{
    background-color: rgb(235 219 219);
    border-radius: 6px;
    max-width: 300px;
    padding: 5px;
    position: relative;
    margin-bottom: 7px;
    right: 10px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.02);
    word-break: break-all;
}

.answerBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.answer {
    background-color: #e5e5e5;
    border-radius: 6px;
    width: fit-content;
    max-width: 300px;
    padding: 5px;
    position: relative;
    margin-bottom: 7px;
    left: 10px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.02);
}

.answerLink {
    background-color: #e3bbbb;
    border-radius: 6px;
    width: fit-content;
    padding: 5px;
    position: relative;
    margin-bottom: 7px;
    left: 10px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.02);
}

.answerLink > a {
    text-decoration: none;
    color:black
}

.answerLink:hover {
    scale: 1.04;
}