.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 5% auto;
}

.firstSection {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 20px;
  text-align: center;
}

.firstImgBox {
  margin-bottom: 20px;
}

.firstImg {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.firstSection h1 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #333;
  font-size: 24px;
}

.firstSection div {
  color: #555;
}

.couponContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.couponTitleBox {
  background-color: #253f39;
  margin-bottom: 15px;
}

.couponTitle {
  color: #fff !important;
  font-weight: bold;
  font-size: 22px;
  position: relative;
}

.couponTitle:before {
  content: '\2709';
  font-size: 40px;
  margin-right: 8px;
}

.couponMainBox {
  cursor: pointer;
  background-color: #253f39;
  color: #fff;
  transition: background-color 0.3s ease;
}

.couponMainBox:hover {
  background-color: #000;
}

.couponDetail1 {
  color: #fff !important;
  font-size: 24px;
  font-weight: bold;
}

.couponDetail2 {
  color: #fff !important;
  font-size: 14px;
  opacity: 0.8;
}
