* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
@font-face {
    font-family: 'yleeMortalHeartImmortalMemory';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/yleeMortalHeartImmortalMemory.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    /* main logo 폰트 */
}
  
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    /* header menu 폰트 */
}
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Pretendard-Regular', sans-serif;
}
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    width: 80%;
    transition: background-color 0.5s ease-in-out;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px 30px 30px 30px;
    overflow: hidden; 
    z-index: 100;
    position: fixed;
}

.openMenu {
    background-color: #253f39;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.05);
}
   
.headerLogo {
    position: inherit;
    top: 20px;
    cursor: pointer;
    font-size: 50px;
    color: #253f39;
    font-family: 'Monsieur La Doulaise';
    filter: drop-shadow(0 0 20px rgba(255, 187, 0, 0.4)) drop-shadow(0 0 10px rgba(255, 234, 112, 0.4)) drop-shadow(0 0 5px rgba(255, 238, 112, 0.4));
    user-select:none;
    z-index: 5;
}

.headerUser {
    position: relative;
    margin-top: -50px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-family: 'yleeMortalHeartImmortalMemory', sans-serif;
    justify-content: flex-end;
}
  
.iconLink {
    color: #253f39;
    text-decoration: none;
}

.text {
    color: #253f39;
    margin-left: 10px;
    font-size: 20px;
    /* font-weight: bold; */
}

.openMenu .headerLogo {
    color: #fff;
}

.openMenu .iconLink {
    color: #fff;
}

.openMenu .text {
    color: #fff;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    top: 100px;
    width: 80%; 
    margin-left: 10%;
    margin-right: 10%;
}

.menu {
    font-family: 'Pretendard-Regular';
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerSearch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.headerSearchIcon {
    color: #ffffff;
    position: absolute;
    right: 0px;
    font-size: 20px;
}

.headerSearchInput {
    background: none;
    border: none;
    padding: 5px 25px;
    padding-left: 0px;
    font-size: 18px;
    color: #ffff;
    outline: none;
    border-bottom: 1px solid white;
    width: 410px;
}

.headerSearchInput::placeholder {
    white-space: nowrap;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
    color: #ffff;
    width: 735px;
}

.headerMenu dt {
    font-size: 22px;
    margin-bottom: 10px;
}
  
.headerMenu div {
    margin-bottom: 10px;
}

.headerMenu dt .dtLink {
    color: white;
    text-decoration: none;
}

.headerMenu dd {
    font-size: 15px;
    padding-bottom: 8px;
}
  
.headerMenu dd .menuLink {
    color: white;
    text-decoration: none;
    padding: 2px;
}

.headerMenu dd .menuLink:hover {
    background-color: #fff6f654;
    transition: background-color 0.2s ease-in-out;
}

.headerMenu dd:not(:last-child) {
    border-bottom: 1px solid #fff;
    margin-bottom: 8px;
}

.headerMenu dd:last-child {
    border-bottom: 1px solid #fff;
    margin-bottom: 28px;
}

  @keyframes fadeInWithScale {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      background-color: #253f39;
    }
    }
    .openMenu{
        animation: fadeInWithScale 0.5s ease-out;
        transform-origin: 50% 0;
        transform: scale(1, 1);
        transition: all 0.2s cubic-bezier(.72, .02, 1, .55);
        animation-fill-mode: forwards;
    }
  
  
