@font-face {
    font-family: 'MapoDacapo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDacapoA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOTRA_SONGEULSSI';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_SONGEULSSI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

/* section1 슬라이더보드 스타일 */
.mainSwiper {
    position: relative;
    overflow: hidden;
}

.slide {
    position: relative;
    display: flex;
    transition: transform 1.5s ease-in-out;
}

.slideBox {
    display: flex;
    position: relative;
}

.slideBoxImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* section2 브랜드스토리 스타일 */
.mainBrand {
    height: 100vh;
}

.brandText {
    margin-top: 20%;
    text-align: center;
    height: 50vh;
}

.brandText h5 {
    text-transform: uppercase;
    color: #625f5f;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1.8px;
    margin-bottom: 10px;
    font-family: 'MapoDacapo'
}

.brandText h3 {
    font-size: 70px;
    line-height: 80px;
    color: #333;
    font-weight: 400;
    font-family: 'Monsieur La Doulaise';
    margin-top: 25px;
}

.brandText p {
    width: 34em;
    margin: 15px auto;
    font-family: 'MapoFlowerIsland';
}

.brandSlide {
    position: relative;
    display: flex;
    transition: transform 1.5s ease-in-out;
    height: 50vh;
}

.brandSlideBox {
    display: flex;
    position: relative;  
}

.brandSlideImg {
    width: 291px;
    border-radius: 20px;
    border-style: none;
    margin-right: 30px;
    margin-bottom: 20px;
}

/* section3 스타일 */
.mainEvent {
    width: 100%;
    height: 100vh;
    background-color: #ffff;
    position: relative;
    display: flex;
    flex-direction: column;
}

.mouseEvent {
    flex: 1;
    position: absolute;
}

.innerText {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.bigText {
    background: linear-gradient(90deg,#7d7d7d,#030303);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-weight: 400;
    font-size: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smallText {
    font-size: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,#7d7d7d,#030303);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.randomImage {
    position: absolute;
    width: 350px;
    height: 405px;
    transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;
    animation: mouseImg 3s ease-in-out;
}

@keyframes mouseImg {
    0% {
        opacity: 1;
        width: 350px;
        height: 405px;
    }
    100% {
        opacity: 0;
        width: 100px;
        height: 50px;
    }
}
