.main {

}

/* section1 슬라이더보드 스타일 */
.mainSwiper {
    position: relative;
    overflow: hidden;
}

.slide {
    position: relative;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slideBox {
    display: flex;
    position: relative;
}

.slideBoxImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideLeftBtn,
.slideRightBtn {
    cursor: pointer;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    color: azure;
    font-size: 30px;
    opacity: 0.5;
}

.slideLeftBtn:hover,
.slideRightBtn:hover {
    color: azure;
    opacity: 1;
}

.slideLeftBtn {
    left: 13px;
}

.slideRightBtn {
    right: 13px;
}

/* section2 브랜드스토리 스타일 */
.mainBrand {

}

/* section3 스타일 */
.mainMouse {
    
}