.notionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.notionSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    padding: 50px;
    width: 700px;
    padding-bottom: 75px;
    padding-top: 75px;
}

.notionWrapper {
    border: 2px solid #253f39;
    border-radius: 5px;
    padding: 16px;
    width: 600px;
}

.notionTitle {
    font-size: 25px;
    margin-bottom: 20px;
}

.notionBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #253f39;
    color: white;
    border-radius: 5px;
    width: 565px;
    height: 50px;
    padding: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.notionBox2Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 565px;
    height: fit-content;
    margin-bottom: 10px;
    border: 1px solid #253f39;
    border-radius: 5px;
}

.notionBox2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #253f39;
    color: black;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    width: 565px;
    height: 50px;
    padding: 16px;
    color: white;
    cursor: pointer;
}

.notionBtn {
    cursor: pointer;
    transition: all 0.3s;
}

.notionBtn:hover {
    scale: 1.2;
}

.notionInforWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.notionDaterWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 10px;
    padding-top: 7px;
}

.notionInfor {
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    word-break:break-all;
    line-height: 2;
    white-space: pre-line;
}