* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodys {
    padding: 40px;
    width: 100vw;
    height: auto;
    background-color: #253f39;
}

.container {

    position: relative;
    background-color: white;
    margin-top: 50px;

}

.orderList {
    padding: 20px 0 0 20px;
    width: 100vw;
    height: 100%;
}

.orderContainer {
    padding: 20px 0 0 40px;

}