.bodys {
    padding: 80px 150px 140px 150px;
    width: 1500px;
    display: flex;
    justify-content: center;
    height: auto;

    /* background-color: #253f39; */
}

.map {
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 20px
}

.id {
    display: flex;
    width: 270px;
    justify-content: space-between;
    align-items: end;
    font-size: 16px;

}

.date {
    font-size: 17px;
    width: auto;


}

.titleHr {
    margin: 5px 0 0 0;
}

.cancelBtn {

    cursor: pointer;
    background-color: white;
    color: #253f39;
    border-radius: 10px;
    font-weight: bold;
    padding: 2px;
}

.container {

    position: relative;
    background-color: white;
    margin-top: 50px;
    padding: 30px 30px 10px 30px;
    width: 750px;
}

.mainContainer {
    height: auto;
}

.orderList {

    font-size: 20px;
    font-weight: bold;
}

.containerBox {}


.map {
    width: 680px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.map2 {
    display: flex;
    justify-content: start;
    height: auto;

    margin: 10px 0 10px 0;
}

.productInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: auto;
    top: 0px;
    left: 220px;
    margin-bottom: 10px;
}

.reBuy {
    cursor: pointer;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    color: white;
    background-color: #253f39
}

.imgContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 175px;
    min-width: 175px;
    height: auto;

}

.img {
    width: 150px;
    height: 150px;
    border: solid 2px rgb(167, 166, 166);
    border-radius: 10px;
    padding: 10px;
}

.space {
    width: 20px;
    min-width: 20px;
    height: auto;
}

.productName {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;

}

.productColor {
    font-size: 16px;
    color: rgb(148, 121, 31);

}

.productCount {
    font-size: 17px;
    width: 80px;

}

.delivery {
    font-size: 17px;
    width: 80px;
    min-width: 80px;

}

.price {
    font-size: 17px;
    width: 80px;

}

.priceAndDelivery {}

.deliveryStatus {
    font-size: 17px;
    width: 80px;
}



.hr {
    width: auto;
}

.totalHr {
    display: flex;
    height: 50px;
    width: auto;
    align-items: center;
    justify-content: end;
    border-top: dashed 2px;
    font-weight: bold;
    font-size: 22px;
    padding: 8px 0 8px 0;
    margin: 5px 0 0 0;


}

.infoTitle {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    max-width: 600px;
    flex-direction: column;

    margin-bottom: 10px;
}

.Pc {
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
}

.productCountText {
    font-size: 17px;
    width: auto;
}

.Pd {
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;

}

.deliveryText {
    font-size: 17px;
}

.Pp {
    display: flex;
    align-items: center;
    margin: 10px 0 5px 0;

}

.paymentPrice {
    font-size: 18px;


}

.Ps {
    display: flex;
    align-items: center;
    margin: 5px 0 0 0;

}

.deliveryStatusText {
    background-color: rgb(175, 48, 48);
    padding: 5px;
    color: white;
    border-radius: 10px;

    font-size: 16px;
}

.deliveryStatusText2 {
    background-color: rgb(40, 31, 132);
    padding: 5px;
    color: white;
    border-radius: 10px;

    font-size: 16px;
}

.topInfo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 50px;
}

.botInfo {
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.headerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid 2px #aeaeae;
    padding: 5px 0 5px 15px;
}