* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodys {
    padding: 40px 200px 40px 200px;
    width: 100vw;
    height: auto;
    background-color: #253f39;

}

.map {
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 20px
}

.id {
    margin-left: 35px;
    font-size: 20px;

}

.date {
    font-size: 26px;
    font-weight: bold;
}

.titleHr {
    margin: 5px 0 5px 0;
}

.cancleBtn {


    background-color: white;
    color: #253f39;
    border-radius: 10px;
    font-weight: bold;
}

.container {

    position: relative;
    background-color: white;
    margin-top: 50px;
    padding: 30px 30px 10px 30px;
}

.mainContainer {
    height: auto;
}

.orderList {
    padding: 0 0 0 15px;
    width: 100vw;
    height: 100%;
    font-size: 20px;
}

.containerBox {}




.orderContainer {
    position: relative;
    padding: 0 0 0 200px;
    height: auto
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: auto;
    top: 0px;
    left: 220px;
    margin-bottom: 10px;
}

.reBuy {
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 150px;
    border-radius: 10px;
    color: white;
    background-color: #253f39
}

.imgContainer {
    position: absolute;
    left: 20px;
    width: 150px;
    height: 150px;
}

.img {
    width: 150px;
    height: 150px;
}

.productName {
    font-size: 32px;
    font-weight: bold;
    margin: 7px 0 7px 0;
}

.productColor {
    margin-left: 10px;
    font-size: 18px;
    margin: 7px 0 7px 0;
}

.productPrice {
    font-size: 25px;
    margin: 7px 0 7px 0;
}

.productCount {
    font-size: 19px;
    margin: 7px 0 7px 0;
}

.delivery {
    font-size: 19px;
    margin: 7px 0 7px 0;

}

.price {
    font-size: 19px;
    margin: 7px 0 7px 0;
}

.priceAndDelivery {
    margin: 7px 0 7px 0;
}

.deliveryStatus {
    font-size: 19px;
    margin: 7px 0 7px 0;
    padding-left: 50px;

}

.paymentPrice {
    font-size: 20px;
    font-weight: bold;
}


.hr {
    width: auto;
}

.totalHr {
    display: flex;
    height: 50px;
    width: auto;
    align-items: center;
    justify-content: end;
    border-top: dashed 2px;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 20px 0 0;


}

.infoTitle {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    max-width: 600px;
    flex-direction: column;

    margin-bottom: 10px;
}