* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodys {
    padding: 40px 275px 40px 275px;
    width: 100vw;
    height: auto;
    background-color: #253f39;

}

.container {

    position: relative;
    background-color: white;
    margin-top: 50px;
    padding: 30px 30px 10px 30px;
    border-radius: 7px;
}


.infoBox {
    width: auto;
    padding: 20px;
    color: white;
    background-color: #253f39;
    border-radius: 10px;
}

.infoTitle {

    font-size: 22px;
}

.btnFlex {
    display: flex;
    justify-content: end;
}

.editBtn {
    cursor: pointer;
    color: white;
    background-color: #253f39;
    border-radius: 7px;
    margin: 5px 0 5px 0;
}

.orderListContainer {

    width: auto;
    color: white;
    background-color: #253f39;
    border-radius: 10px;
}

.orderTitle {
    padding: 20px 0 20px 20px;
    font-size: 22px;
}

.orderListBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.whiteBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    background-color: white;
    color: black;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 7px;
}

.orderHr {
    width: 95%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 33.3%;
    margin: 5px 0 5px 0;
}

.orderText {
    cursor: pointer;
}

.orderText:hover {
    text-decoration: underline;
    font-weight: bold;
}


.addressContainer {
    width: auto;
    color: white;
    background-color: #253f39;
    border-radius: 10px;
}

.addressTitle {
    padding: 20px 0 20px 20px;
    font-size: 22px;
}

.addressBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whiteBox2 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    background-color: white;
    color: black;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 7px;
}

.addressHr {
    width: 98%;
    margin-left: 1%;
}

.addressHr2 {
    width: 100%;
    margin: 0 0 10px 0;
    border: dashed 1px;
}

.askTitle {
    padding: 20px 0 20px 20px;
    font-size: 22px;
}

.couponContainer {

    width: auto;
    padding: 20px;
    color: white;
    background-color: #253f39;
    margin-bottom: 30px;
    border-radius: 10px;
}

.couponFlex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.couponBox {
    position: relative;
    color: black;
    background-color: white;
    width: 250px;
    height: 150px;
    margin: 15px;
    border-radius: 10px;
    border: solid 3px;
}

.coupon1 {
    position: absolute;
    top: 60px;
    left: 95.5%;
    width: 35px;
    height: 35px;
    background-color: #253f39;
    border-radius: 100px;

}

.couponName {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #253f39;
}

.couponDis {
    margin: 10px;
    font-size: 34px;
    font-weight: bold;
}

.dis {
    position: absolute;
    left: 80px;
    bottom: 70px;
}

.couponHr {
    width: 210px;
    margin-left: 15px;
}

.couponDate {
    margin: 15px;
    font-size: 18px;
}