.qnaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.qnaSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    width: 700px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.qnaWrapper {
    border: 2px solid #253f39;
    border-radius: 5px;
    margin-bottom: 70px;
    padding: 16px;
    width: 600px;
}

.qnaTitle, .inquireHeaderTitle {
    font-size: 25px;
    margin-bottom: 20px;
}

.qnaName {
    margin-bottom: 5px;
}

.qnaBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #253f39;
    color: white;
    border-radius: 5px;
    width: 565px;
    height: 50px;
    padding: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.qnaBox2Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 565px;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #253f39;
    border-radius: 5px;
}

.qnaBox2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #253f39;
    color: black;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    width: 565px;
    height: 50px;
    padding: 16px;
    color: white;
    cursor: pointer;
}

.qnaBtn {
    cursor: pointer;
    transition: all 0.3s;
}

.qnaBtn:hover {
    scale: 1.2;
}

.qnaInforBox {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    width: 100%;
}

.qnaInfor, .qnaInfor2 {
    padding-left: 10px;
    padding-right: 10px;
}

.qnaInfor2 {
    line-height: 2;
    white-space: pre-line;
}

.inquireWrapper {
    border: 2px solid #253f39;
    border-radius: 5px;
    padding: 16px;
    width: 600px;
}

.inquireSearch {
    width: 565px;
    margin-bottom: 10px;
}

.inquireBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #253f39;
    color: white;
    border-radius: 5px;
    width: 565px;
    height: 50px;
    padding: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.inquireBox:hover {
    transform: scale(1.02);
}

.inquireResponse {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 10px;
    color: black;
    background-color: white;
}

.inquireTitle {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    position: relative;
}

.inquireTitleNickname {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 275px;
    bottom: 0px;
    font-size: 11px;
    background-color: white;
    border-radius: 25px;
    color: black;
    padding: 4px 8px;
}

.inquireMainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 565px;
    background-color: #253f39;
    border-radius: 5px;
    color: white;
    padding: 16px;
    margin-bottom: 10px;
}

.inquireMainHeader {
    display: flex;
    justify-content: space-between;
    width: 565px;
    
}

.inquireMainTitle {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    font-size: 18px;
}

.inquireMainBtnWrapper {
    display: flex;
    gap: 10px;
    padding-right: 15px;
    align-items: center;
}

.inquireMainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    padding: 16px;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.AnswerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.openAnswerBtn, .closeAnswerBtn {
    border-radius: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 5px 10px;
    transition: all 0.3s;
}

.openAnswerBtn:hover, .closeAnswerBtn:hover {
    scale: 1.1;
}

.inquirMainBtnWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    align-items: center;
}

.inquireMainPatch, .inquireMainBtnDelete {
    border-radius: 15px;
    background-color: white;
    border: none;
    color: black;
    padding: 3px 7px;
    cursor: pointer;
    transition: all 0.3s;
}

.inquireMainBtnDelete {
    margin-right: 14px;
    color: red;
}

.inquireMainBtnOff {
    cursor: pointer;
}

.inquireMainBtnOff:hover {
    scale: 1.2;
}

.inquireMainPatch:hover, .inquireMainBtnDelete:hover {
    scale: 1.1;
}

.inquireMainBtn {
    border-radius: 5px;
    background-color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    height: 20px;
    width: 80px;
}

.inquireMainBtn:hover {
    scale:1.1;
}

.inquireMainAnswerWrapper {
    border-top: 1px solid white ;
}

.inquireMainAnswer {
    border-radius: 5px;
    margin-top: 20px;
    width: 450px;
    height: 100px;
    resize: none;
    outline: none;
}

.inquireMainAdiminAnswer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 15px;
    background-color: white;
    color: black;
    position: relative;
    padding: 16px;
    width: 100%;
}

.inquireMainAdiminAnswerTitle {
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 5px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 25px;
    background-color: #ffd859;
    color: white;
}

.inquireMainAdiminAnswerContent {
    margin-top: 30px;
    padding-bottom: 20px;
    word-break: break-all;
}

.answerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 565px;
    background-color: #253f39;
    border-radius: 5px;
    color: white;
    padding: 16px;
    margin-top: 50px;
}

.answerTitle {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}

.answerMainName {
    border-radius: 5px;
    width: 100%;
    height: 45px;
    resize: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}

.answerMain {
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    padding: 10px;
}

.answerBtnWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.answerCheck, .answerSecret {
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.answerRegisterBtn {
    border-radius: 15px;
    background-color: white;
    border: none;
    margin-top: 10px;
    margin-left: 15px;
    cursor: pointer;
    padding: 2px 10px;
    font-size: 15px;
    transition: all 0.3s;
}

.answerRegisterBtn:hover {
    scale:1.1;
}

/* 수정 */
.patchBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 565px;
    background-color: #253f39;
    border-radius: 5px;
    color: white;
    padding: 16px;
}

.patchTitle {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.patchMainName {
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    height: 50px;
    resize: none;
    padding: 10px;
    outline: none;
}

.patchMain {
    border-radius: 5px;
    margin-top: 10px;
    height: 100px;
    resize: none;
    outline: none;
    padding: 10px;
    width: 100%;
}

.patchBtnWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.patchCheck, .patchSecret {
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.patchRegisterBtn {
    border-radius: 15px;
    background-color: white;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    padding: 3px 7px;
    transition: all 0.3s;
}

.patchCancelBtn {
    border-radius: 15px;
    background-color: white;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    padding: 3px 7px;
    transition: all 0.3s;
}


.patchRegisterBtn:hover, .patchCancelBtn:hover {
    scale:1.1;
}