* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container1 {
    margin-top: 50px;
    background-color: white;
    position: relative;

}

.categoryInfo {

    margin-top: 50px;

    width: 95%;
    height: 100px;
}

.searchAndResult {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.colorText {
    font-size: 18px;
}

.colorContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;

}

.colorBoxRed {
    width: 35px;
    height: 35px;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 10px;
    cursor: pointer;
}

.colorBoxGreen {
    width: 35px;
    height: 35px;
    background-color: rgba(0, 128, 0, 0.8);
    border-radius: 10px;
    cursor: pointer;
}

.colorBoxBlue {
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 255, 0.8);
    border-radius: 10px;
    cursor: pointer;
}

.colorBoxBlack {
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    cursor: pointer;
}

.colorBoxGray {
    width: 35px;
    height: 35px;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 10px;
    cursor: pointer;
}

.colorBoxWhite {
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
}

.colorBoxBrown {
    width: 35px;
    height: 35px;
    background-color: rgba(165, 42, 42, 0.8);
    border-radius: 10px;
    cursor: pointer;
}


.selectedColorRed {
    width: 35px;
    height: 35px;
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.5);
}

.selectedColorGreen {
    width: 35px;
    height: 35px;
    background-color: rgba(0, 128, 0, 0.8);
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.5);
}

.selectedColorBlue {
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 255, 0.8);
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.5);
}

.selectedColorBlack {
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0.8)
}

.selectedColorGray {
    width: 35px;
    height: 35px;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.5);
}

.selectedColorWhite {
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid rgb(0, 0, 0);
}

.selectedColorBrown {
    width: 35px;
    height: 35px;
    background-color: rgba(165, 42, 42, 0.8);
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.5);
}

.resetColor {
    font-size: 24px;
    cursor: pointer;
}


.sort {
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0 0 20px;
}

.selectedSort {
    font-weight: bold;
    font-size: 20px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    margin-top: 30px;

    @media (max-width : 760px) {
        justify-content: center;
        margin-left: 0
    }
}

.productContainer {
    margin-left: 40px;
    margin-top: 20px;
    width: 300px;
    height: 370px;

    @media (max-width : 679px) {

        margin-left: 0
    }

}

.productImg {
    width: 300px;
    height: 300px;

}

.productName {
    font-size: 26px;
}

/*  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodys {
    padding: 40px 60px 20px 60px;
    width: auto;
    height: auto;
    background-color: white;
}



.categoryInfo {
    padding-left: 20px;
    margin-top: 50px;
    width: 95vw;
    height: 100px;
}

.title {
    font-size: 36px;
}

.titleHr {
    margin: 10px;
}

.sort {
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0 0 20px;
}

.selectedSort {
    font-weight: bold;
    font-size: 20px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;

    @media (max-width : 760px) {
        justify-content: center;
        margin-left: 0
    }
}

.productContainer {
    cursor: pointer;
    margin: 20px 20px 30px 20px;

    width: 300px;
    height: 370px;


    @media (max-width : 679px) {

        margin-left: 0
    }

}

.hr {
    position: relative;
    cursor: default;
    width: 341px;
    margin-top: 20px;
    height: 2px;
    background-color: rgb(213, 213, 213);
    display: block;
    z-index: 1;
}

.productImg {
    width: 300px;
    height: 300px;

}

.productTextHeader {
    display: flex;
    justify-content: center;
}

.productTextTop {
    display: flex;
    justify-content: center;
    align-items: center;

}

.category {
    margin: 0 7px 0 0;
    color: rgb(183, 163, 97);

}

.productName {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    text-size-adjust: auto;
    height: 45px;
    font-weight: bold;
}

.productTextBot {
    display: flex;
    justify-content: center;
    align-items: end;

}

.price {
    font-size: 22px;
}

.listEndDiv {
    position: relative;
    display: flex;
    width: auto;
    height: 50px;
    align-items: end;
    justify-content: center;
    border-top: solid 20px white;
    z-index: 2;

}

.listEndText {


    background-color: white;

    font-size: 20px;
    font-weight: bold;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(177, 177, 177);
        z-index: -1;

    }
}

.listMoreDiv {
    position: relative;
    display: flex;
    width: auto;
    height: 50px;
    align-items: end;
    justify-content: center;
    border-top: solid 20px white;
    z-index: 2;

}

.listMoreText {

    cursor: pointer;
    background-color: white;

    font-size: 20px;
    font-weight: bold;


    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgb(177, 177, 177);
        z-index: -1;

    }
}