.bodys {

    padding: 20px 60px 20px 60px;
    width: auto;
    height: auto;
    background-color: #253f39;

}

.header {
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;

}

.imgBox {
    position: relative;
}

.mainImg {
    cursor: pointer;
    width: 1200px;
    height: auto;

}

.contentBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 1000px;

}

.flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productImg {
    border-radius: 10px;
    width: 230px;
    height: 230px;
    cursor: pointer;

}

.productContainer {

    cursor: pointer;
    width: 250px;
    max-height: 290px;
    margin-bottom: 25px;

}



.price {
    font-size: 22px;
    cursor: pointer;
    color: white;
}

.productImg {
    transition: transform 0.3s ease;
}

.productImgHover {
    transform: scale(1.03);
}


.circleDiv {
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.5;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    border: solid white 2px;
    transition: opacity 0.4s;
}



.circle {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.circleDiv:hover {
    opacity: 1;

    .circle {
        transform: scale(0.8);
    }
}

.additionalDiv {
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 140px;
    height: auto;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    cursor: pointer;
    z-index: 100;
}

.circleDiv:hover+.additionalDiv {
    opacity: 1;
}

.DivInInfo {
    width: 115px;
    margin: 10px
}

.PN {
    font-weight: bold;
    font-size: 14px;
}

.PT {
    color: rgb(183, 163, 97);
    margin-top: 10px;
    font-size: 14px;
}

.PP {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.DivInShape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: auto;
    border-left: solid 2px rgb(207, 207, 207);
}

.gradient {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 1200px;
    height: 100px;
    background-color: rgb(189, 57, 57);
    border: solid 2px rgb(255, 255, 255);
    color: white;
}


.won {
    font-size: 16;
}

.icon {
    font-size: 22;
}

.productTextHeader {
    display: flex;
    justify-content: center;
}

.productTextTop {
    display: flex;
    justify-content: center;
    align-items: center;

}

.productTextBot {
    display: flex;
    justify-content: center;
    align-items: center;

}

.sale {
    padding: 0px 8px;
    border-radius: 20px;
    background-color: rgb(255 216 89);
    margin-right: 5px;
}

.price {
    font-size: 14px;
    color: white;
}

.typeName {
    color: rgb(255 216 89);
    font-size: 15px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 0px 10px;
}

.productImgBox {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.mainTitle {
    font-size: 22px;
    font-weight: bold;
}

.mainText {
    margin: 10px 0 0 20px;
}